# Dependências do Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds e outputs do Nuxt.js
.nuxt/
dist/
.output/
static/

# Controle de versão
.git
.gitignore

# Editores e IDEs
.vscode/
.idea/

# Outros arquivos temporários ou de cache
*.log
*.tmp
tmp/